<h1 style="text-align: center;margin-bottom: 2%">Deduction Tracker</h1>
<h4 style="text-align: center">enter a deduction</h4>
<div class="container-fluid main-container">
  <div class="row">    
    <div class="col-md-6 center-block">
      <label for="Type-of-deduction">Type of deduction</label>
      <div class="btn-group">
        <button id="Type-of-deduction" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedType}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let typ of types" id={{typ}}><a (click)="selectType(typ)" href="#{{typ}}">{{typ}}</a></li> {{typ}} 
        </ul>
      </div>
    </div>
    <div class="col-md-6 center-block">
      <label for="Month-Selection">Month Selection</label>
      <div class="btn-group">
        <button id="Month-Selection" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedMonth}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let mon of months" id={{mon}}><a (click)="selectMonth(mon)" href="#{{mon}}">{{mon}}</a></li>{{mon}}        
        </ul>
      </div>
    </div>
  </div>
  <div class="row">   
    <div class="col-md-10">
      <label for="deduction-description">Description</label>     
      <textarea placeholder="description" [(ngModel)]="text" id="deduction-description" class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
      <label for="">Amount</label>
      <label class="sr-only" for="exampleInputAmount" (value)="value">Amount (in dollars)</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
          <input type="text" [(ngModel)]="value" class="form-control" id="exampleInputAmount" placeholder="Amount">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" (click)="submitDeduction()" class="btn btn-success">Submit Deduction</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <!--<label for="newType">New Type</label>-->
      <input [(ngModel)]="typetext" id="newType" type="text" class="form-control" placeholder="New Type">
    </div>
    <div class="col-md-6">
      <!--<label for="newTypeSubmit">New Type</label>-->
      <button id="newTypeSubmit" (click)="submitType()" type="submit" class="btn btn-primary">Submit Type</button>
    </div>
  </div>
</div>


